.counter-container {
    border: 1px solid gray;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0 0 0.5rem 0;
    background-color: #3B1E54;
}

.title {
    color: darkblue;
}

.value {
    font-size: x-large;
    font-weight: bold;
    margin: 0 0.5rem;
}