.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: #343131;
  box-shadow: 0 0 0.25rem gray;
  width: 100%;
  max-width: 400px;
  min-height: 640px;
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  overflow: hidden;
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1.5rem;
  min-height: 200px;
  color: #fff;
  text-align: right;
  flex: 1 1 0%;
}

.display .input {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.display .output {
  font-size: 2.5rem;
  font-weight: 700;
  width: 100%;
  max-width: 100%;
  overflow: auto;
}

.keys {
  background-color: #544f4f;
  padding: 1.5rem;
  border-radius: 1.5rem 1.5rem 0 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1rem;
}

.keys .key {
  position: relative;
  cursor: pointer;
  display: block;
  height: 0;
  padding-top: 100%;
  border-radius: 1rem;
  background-color: #484444;
  transition: box-shadow 0.2s;
}

.keys .key:hover {
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.25);
}

.keys .key span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.keys .key.operator span {
  color: #eedf7a;
}

.keys .key.action span {
  color: #d8a25e;
}